*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #32920c;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 28px 0;
}

.cabeçalho{
    width: 100%;
    font-size: 28px;
    font-weight: 600;
}